.HeaderStyles {
    background-color: #1c1b1b;
    min-height: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.firstSignsStyle {
    color: #ff6600;
    font-family: 'Abel', sans-serif;
}

.greetingSentence {
    /*border: 1px solid snow;*/
    font-family: 'Abel', sans-serif;
    color: snow;
    font-size: 26px;
}

@media screen and (max-width: 750px) {
    .greetingSentence {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .greetingSentence {
        font-size: 12px;
    }
}

@media screen and (max-width: 361px) {
    .greetingSentence {
        font-size: 10px;
    }
}





/*font-family: 'Ephesis', cursive;*/


/*h1, h2, h3 {*/
/*    font-family: 'Abel', sans-serif;*/
/*    font-weight: 700;*/
/*    text-transform: uppercase;*/
/*}*/