.SkillsBlockStyles {
    background-color: #6c757d;
    color: snow;
    min-height: 100vh;
}

.skillsContainer {
    flex-direction: column;
    justify-content: center;
    flex-wrap: initial;
}

.skills {
    color: #1c1b1b;
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/*624*/

@media screen and (max-width: 938px) {
    .skills {
        justify-content: center;
    }
}