.NavStyles {
    /*border: 1px solid snow;*/
    width: 400px;
    display: flex;
    justify-content: space-between;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 28px;
}

.linkStyle {
    color: snow;
    text-decoration: none;
}

.linkStyle:hover {
    color: #ff6600;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .NavStyles {
        font-size: 18px;
        width: 200px;
    }
}
