.MainContactsStyles {
    background-color: snow;
    min-height: 100vh;

}
.ContactsContainer {
    border: 1px solid black;
    display: flex;
    flex-direction: column;

}
.ContactsHeader {
    border: 1px solid black;
}

.ContactsContent {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;

}
.SendBtn {
    margin-top: 30px;
    border: 1px solid black;
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: #5a5f5f;
}