.MainContactsStyles {
    background: url("https://wallpapercave.com/wp/NjlAzeN.jpg");
    position: relative;
    color: snow;
    min-height: 100vh;
}

.ContactsContainer {
    border: 1px solid black;
    display: flex;
    flex-direction: column;

}

.ContactsContent {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 50%;

}

.itemsStyles {
    outline: none;
    background-color: #27282d;
    color: snow;
}



/*h2 {*/
/*    font-family: 'Abel', sans-serif;*/
/*}*/

@media screen and (max-width: 400px) {
    .ContactsContent {
        width: 100%;
    }
}