.ProjectsMainBlockStyle {
    background-color: #4d545a;
    color: snow;
    min-height: 100vh;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: initial;
}


.Projects {
    border: 1px solid snow;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 724px) {
    .Projects {
        justify-content: center;
    }
}


